<mat-sidenav-container>
    <mat-sidenav></mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="secondary">
            <button mat-icon-button><mat-icon fontIcon="menu"></mat-icon></button>
            <span style="margin-left: 20px;">ember</span>
            <span class="spacer"></span>
            <button mat-icon-button><mat-icon>notifications</mat-icon></button>
            <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
