$primary-bg: #0078da;
$primary-fg: #f9f9ff;

$secondary-bg: #a66a00;
$secondary-fg: #fff8f4;

$tertiary-bg: #a852c6;
$tertiary-fg: #fff7fb;

$neutral-bg: #74777f;
$neutral-fg: #f9f9ff;

$neutral-variant-bg: #707785;
$neutral-variant-fg: #f9f9ff;

$error-bg: #de3730;
$error-fg: #fff8f7;
