<div class="page-content">
    <mat-toolbar>
        <button mat-icon-button color="secondary"><mat-icon fontIcon="arrow_back"></mat-icon></button>
        <span style="margin-left: 20px;">Block Setup 101</span>
    </mat-toolbar>
    <div class="cage">
        <tile-button title="Install Fire Panel" subTitle="Not Started: Bldg 3-Level 4-Room 0017" imagePath="fakefloor.jpeg"></tile-button>
        <tile-button title="Install Thing 1" subTitle="Not Started: Bldg 3-Level 4-Room 0017" imagePath="fakefloor.jpeg"></tile-button>
        <tile-button title="Install Thing 2" subTitle="Not Started: Bldg 3-Level 4-Room 0017" imagePath="fakefloor.jpeg"></tile-button>
        <tile-button title="Install Thing 3" subTitle="Not Started: Bldg 3-Level 4-Room 0017" imagePath="fakefloor.jpeg"></tile-button>
        <tile-button title="Install Thing 4" subTitle="Not Started: Bldg 3-Level 4-Room 0017" imagePath="fakefloor.jpeg"></tile-button>
    </div>
    <!--
    <div>
        <h3>Postgres Tables</h3>
        <table *ngIf="tables && tables.length > 0">
            <thead>
                <th *ngFor="let th of fields">{{th.name}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let table of tables">
                    <td *ngFor="let td of fields">{{table[td.name]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div>
        <h3>Mongo Collections</h3>
        <table *ngIf="collections && collections.length > 0">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <tr *ngFor="let collection of collections">
                    <td>{{collection.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
</div>
